* {
  margin: 0
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-gray0: #f8f8f8;
  --color-gray1: #bde1e8;
  --color-gray2: #b2becd;
  --color-gray3: #6c7983;
  --color-gray4: #454e56;
  --color-gray5: #2a2e35;
  --color-gray6: #12181b;
}

html {
  scroll-behavior: smooth;

}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: var(--color-primary);
}

#home,
#about,
#portfolio,
#blogs,
#contact {
  height: 700px;
}

#home {
  background-color: yellowgreen;
}

#home h1 {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-size: 50px;
  width: 32ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typing 3s steps(40),
    blinking 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blinking {
  50% {
    border-color: transparent
  }
}

#about {
  background-color: slateblue;
}

#portfolio {
  background-color: salmon;
}

#blogs {
  background-color: peru;
}

#contact {
  background-color: seagreen;
}