@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Poppins:ital@1&display=swap");
* {
  margin: 0;
  font-family: "Montserrat";
}

:root {
  --color-primary: #252839;
  --color-secondary: #27ae60;
  --color-gray0: #f8f8f8;
  --color-gray1: #bde1e8;
  --color-gray2: #b2becd;
  --color-gray3: #6c7983;
  --color-gray4: #454e56;
  --color-gray5: #2a2e35;
  --color-gray6: #12181b;
  --color-home: #00ade1;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  top: -10%;
  background-color: var(--color-primary);
  -webkit-animation-name: fadeInNav;
          animation-name: fadeInNav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInNav {
  100% {
    top: 0%;
  }
}
@keyframes fadeInNav {
  100% {
    top: 0%;
  }
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  font-family: sans-serif;
  font-size: 1em;
  position: relative;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--color);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  border-right: 4px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
}
nav ul li a:hover::before {
  width: 100%;
}

body {
  background-color: var(--color-primary);
}

#home,
#experience,
#projects,
#blogs,
#contact {
  height: 1000px;
  color: white;
}

#home h1 {
  position: relative;
  z-index: -1;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-size: 60px;
  width: 27.4ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  -webkit-animation: typing 3s steps(40), blinking 0.5s step-end infinite alternate;
          animation: typing 3s steps(40), blinking 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blinking {
  50% {
    border-color: transparent;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
#home p {
  position: relative;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  width: 68rem;
  font-size: 20px;
  opacity: 0;
  -webkit-animation-name: fadeInBio;
          animation-name: fadeInBio;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInBio {
  100% {
    opacity: 1;
    top: 40%;
  }
}
@keyframes fadeInBio {
  100% {
    opacity: 1;
    top: 40%;
  }
}
#home p button {
  position: relative;
  text-align: center;
  background: none;
  border: 2px solid var(--color-home);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: sans-serif;
  padding: 12px 40px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}
#home p button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-home);
  z-index: -1;
  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
#home p button:hover::before {
  transform: scaleX(1);
}/*# sourceMappingURL=styles.css.map */