@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Poppins:ital@1&display=swap");
* {
  margin: 0;
  font-family: "Montserrat";
}

:root {
  --color-background: #171c28;
  --color-home: #00ade1;
  --color-experience: #ff6493;
  --color-projects: #ffdd1c;
  --color-contact: #00dc82;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

nav {
  position: fixed;
  width: 100%;
  top: -10%;
  background-color: var(--color-background);
  z-index: 10;
  -webkit-animation-name: fadeInNav;
          animation-name: fadeInNav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInNav {
  100% {
    top: 0%;
  }
}
@keyframes fadeInNav {
  100% {
    top: 0%;
  }
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  font-family: sans-serif;
  font-size: 1em;
  position: relative;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--color);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  border-right: 4px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
}
nav ul li a:hover::before {
  width: 100%;
}

#home,
#experience,
#projects,
#contact {
  height: 1000px;
  color: white;
  margin-left: 30rem;
  margin-right: 30rem;
}

#home h1 {
  position: absolute;
  top: 40%;
  font-size: 60px;
  width: 27.4ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  -webkit-animation: typing 3s steps(40), blinking 0.5s step-end infinite alternate, shiftUp 0.5s ease-in-out 3s 1 normal forwards;
          animation: typing 3s steps(40), blinking 0.5s step-end infinite alternate, shiftUp 0.5s ease-in-out 3s 1 normal forwards;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blinking {
  50% {
    border-color: transparent;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes shiftUp {
  100% {
    top: 30%;
  }
}
@keyframes shiftUp {
  100% {
    top: 30%;
  }
}
#home p {
  position: absolute;
  top: 110%;
  opacity: 0;
  width: 68rem;
  font-size: 22px;
  -webkit-animation-name: fadeInBio;
          animation-name: fadeInBio;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInBio {
  100% {
    opacity: 1;
    top: 40%;
  }
}
@keyframes fadeInBio {
  100% {
    opacity: 1;
    top: 40%;
  }
}
#home p button {
  position: relative;
  text-align: center;
  margin-top: 15px;
  padding: 12px 40px;
  background: none;
  border: 2px solid var(--color-home);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
}
#home p button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-home);
  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
#home p button:hover::before {
  transform: scaleX(1);
}

#experience h1 {
  color: var(--color-experience);
  position: relative;
  top: 10%;
}
#experience .tablist {
  position: relative;
  top: 15%;
  width: 100%;
  padding: 40px 50px 40px 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#experience .tablist .tablist-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--color-background);
}
#experience .tablist .tablist-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#experience .tablist .tablist-content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}
#experience .tablist .tablist-content .list label {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: var(--color-background);
  z-index: 12;
}
#experience .tablist .tablist-content .list label:hover {
  color: var(--color-experience);
}
#experience .tablist .tablist-content .indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: var(--color-experience);
  transition: all 0.4s ease;
}
#experience .tablist .tablist-content .text-content {
  width: 80%;
  height: 100%;
}
#experience .tablist .tablist-content .text-content .text {
  display: none;
}
#experience .tablist .tablist-content .text-content .text .title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--color-background);
}
#experience .tablist .tablist-content .text-content .text p {
  text-align: justify;
  color: var(--color-background);
}
#experience .tablist .tablist-content .text-content .job1 {
  display: block;
}
#experience .tablist .tablist-content input {
  display: none;
}
#experience .tablist #job1:checked ~ .list label.job1,
#experience .tablist #job2:checked ~ .list label.job2,
#experience .tablist #job3:checked ~ .list label.job3,
#experience .tablist #job4:checked ~ .list label.job4,
#experience .tablist #job5:checked ~ .list label.job5 {
  color: #fff;
}
#experience .tablist #job1:checked ~ .list .indicator {
  top: 0;
}
#experience .tablist #job2:checked ~ .list .indicator {
  top: 60px;
}
#experience .tablist #job3:checked ~ .list .indicator {
  top: 120px;
}
#experience .tablist #job4:checked ~ .list .indicator {
  top: 180px;
}
#experience .tablist #job5:checked ~ .list .indicator {
  top: 240px;
}
#experience .tablist #job1:checked ~ .text-content .job1,
#experience .tablist #job2:checked ~ .text-content .job2,
#experience .tablist #job3:checked ~ .text-content .job3,
#experience .tablist #job4:checked ~ .text-content .job4,
#experience .tablist #job5:checked ~ .text-content .job5 {
  display: block;
}
#experience .tablist #job2:checked ~ .text-content .job1,
#experience .tablist #job3:checked ~ .text-content .job1,
#experience .tablist #job4:checked ~ .text-content .job1,
#experience .tablist #job5:checked ~ .text-content .job1 {
  display: none;
}

#projects h1 {
  color: var(--color-projects);
  position: relative;
  top: 10%;
}

#contact h1 {
  color: var(--color-contact);
  position: relative;
  top: 10%;
}/*# sourceMappingURL=styles.css.map */